<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<title>books - edit</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
<div class="w3-container">
    <div class="w3-bar w3-border w3-light-grey">
        <div class="w3-bar-item"><a href="/books">All books</a></div>
        <div class="w3-bar-item w3-teal"><a href="/books/add">Add a book</a></div>
    </div>
</div>
<form method="post" class="w3-container w3-card-4" action="/books/save" th:object="${bookEdit}">
    <h2>Edit a book</h2>
    <p>Insert data about your book.</p>
    <p>
        <input th:field="*{id}" name="id" type="hidden"></p></p>
    <p>
        <b>Title</b>
        <input th:field="*{title}" class="w3-input w3-border" name="title" type="text"></p>
    <p>
        <b>Author</b>
        <input th:field="*{author}" class="w3-input w3-border" name="author" type="text"></p>
    <p>
        <b>Published</b>
        <input th:field="*{published}" class="w3-input w3-border" name="published" type="text"></p>
    <p>
        <button class="w3-btn w3-grey">Save</button>
    </p>

</form>

</body>
</html>